*{
    font-family: 'Arimo', sans-serif;
    /* background-color: black; */
    background-color: #0d2033;
    
}

/* body {
    background-color: black;
    align-items: center;
    width: 98%;
    justify-items: center;
    justify-content: center;
    align-content: center;
} */

header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 0px;
    margin-top: 1%;
    margin-bottom: 2%;
    align-items: center;
    justify-items: center;
    /* background-color: rgb(31, 30, 30); */
    background-color: #0a141d ;
       
}

header img {
    width: 80%;
    margin-left: -20%;
    height: 100%;
}

header a{
    color: rgb(255, 255, 255);
    margin-left: -20px;
    list-style: none;
    font-size: 80%;
    text-decoration: none;
    margin-left: -80%;
    background-color: #0a141d;
}

header a:hover {
    text-decoration: underline;
}

header button {
    display: flex;
    align-content: flex-start;
    justify-items: flex-start;
    margin-left: -60%;
    background-color: rgb(31, 30, 30);
    color: white;
}



.slogan {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size:x-large;
    animation: linea 2s infinite;

}

@keyframes linea {
    0% {
        transform: translate(0, 0);
      }
    50% {
        transform: translate(20px, 0);
      }
    100% {
        transform: translate(0px, 0px);
      }
}

.cuerpo {
    background-color: #0a141d ;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

.carrousel {
    display: flexbox;
   
}

.carrousel img {
    margin:auto;
    width: 33%;
    height: 265px;
}

/* PROBLEMAS DE HERENCIA SIDE TO SIDE*/
/* .map-grilla{
    display: grid;
    justify-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
    margin-left: 0%;
    padding: 1rem 1rem;
}
.map-grilla img{
    display: flex;
    width: 800px;
    /*margin: 45%;*/
    
    
.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        
    }
    
.map-grilla{
    color:#ffff;
    margin-bottom: 25px;
    font-size: 20px
    width: 50%;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
 }
    
.map-grilla img{
    display: flex;
    width: 650px;
    object-fit: cover;
    /*margin: 45%;*/
}
.map-grilla h2{
    font-size: 24px;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
    
    /*@media screen and (max-width: 800px) {
        .pie-pagina .grupo-1{
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding:35px 0px;
        }
        
    }*/
    
    
    
    
    
    
    
.pie-pagina {
    width: 100%;
    background-color:#0d2033 ;
}
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding:45px 0px;
}
.pie-pagina .grupo-1 .figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina img{
    width: 120px
}
.pie-pagina .grupo-1 .box h2{
    color:#ffff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color:#efefef;
    margin-bottom: 10px;
    
}
.pie-pagina .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .red-social a:hover{
    color: red;
}
.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #ffff;
}

@media screen and (max-width: 920px) {
    header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        padding:35px 0px;
        align-content: center;
        justify-content: center;
        
        
    }
    header a, p {
        display: block;
        margin-top: 0px;
        justify-content: center;
        align-content: center;
        margin-left: 2%;
    }
    
    header img {
        margin-left: 2%;
        width: 20%;
        background-color: #0a141d;
        
    }
    
    header #vacio {
        display: none;
    }
    
    header button {
        display: inline-block;
        /* margin-left: 55%;
        margin-top: -6%; */
    }
    
    .carrousel {
        display: flex;
        height: auto;
    }
    
    .slogan {
        justify-items: center;
        
    }
    .pie-pagina .grupo-1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        padding:35px 0px;
        align-content: center;
        justify-content: center
        /*width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding:35px 0px;*/
    }
    
}    


/* estilos del formulario */

#formulario button {
    display: flex;
    color: white;

}



#formulario {
    
    color: white;
    box-sizing:content-box;

    margin: auto;
    justify-items:flex-start;
    align-items: center;
    justify-content: center;
    
}

h2 {
    display: block;
    color: white;
}

